$primary-color: #0a6cf1;
$secondary-color: red;

$dark-gray: #585c6a;

$text-primary-color: #fff;
$text-secondary-color: #2b3040;
$text-gray-light: #a6a8af;
$icon-primary-color: #fff;
$icon-secondary-color: #585c6a;
$default-background-color: #f2f2f2;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
